lms_app/cache/*
!lms_app/cache/index.html
!lms_app/cache/.htaccess

lms_app/logs/*
!lms_app/logs/index.html
!lms_app/logs/.htaccess

uploads/course/*
uploads/temp/*
uploads/user/*
uploads/question/course/*
uploads/question/exam/*
uploads/*.png
*.log
!index.html

