.m-r-5{margin-right: 5px;}
.m-l-0{margin-left: 0px;}
.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-b-50{margin-bottom:50px;}
.m-b-0{margin-bottom:0px;}
.m-t-20{margin-top: 20px;}
.p-20{padding: 20px;}
.p-t-20{padding-top: 20px;}
.p-t-50{padding-top: 50px;}
.p-b-50{padding-bottom: 50px;}
.m-r-20{margin-right: 20px;}
.m-r-10{margin-right: 10px;}
.show-alert{position: fixed;top:5px; z-index: 10000; width: auto; border-radius:5px; left:50%;padding: 5px 35px 5px 15px; }
.show-alert .close{top:5px;}
.req{color:#FF0000;}
/** questionnaires style start **/

.topic_type {
    margin-bottom: 20px;
    border: 1px solid #DBDBDB;
    position: relative;
}

.topic_type_menu {
    left: 0;
    padding: 5px 3px;
    position: absolute;
    top: 0;
    width: 50px;
}
.topic_type_con {
    height: 100%;
    margin-left: 50px;
    min-height: 150px;
    padding: 8px;
    border-left: 1px solid #DBDBDB;
}
.topic_type_con a {
    display: inline-block;
    padding: 0 2px;
}

.setup-group {
    padding: 0 5px;
    text-align: center;
}

.th4 {
    font-size: 16px;
    min-height: 30px;
    padding: 6px 0 0;
}

.T_edit_min {width: 80%;}

.Drag_area {
    margin: -9px 0 0 -9px;
    padding: 5px 0 0 10px;
    z-index: 9;
}

.editable-container{width: 100% !important}
.editable-container .editableform .form-group {width: 100% !important}
.editable-container .editableform .form-group .editable-input{width: 80% !important}

.hand{cursor: pointer;}
.product-pic-upload{max-width:120px;height:90px;}
.re {color: #FF0000;}

input.bankinput{margin-top:12px;}
.bank{background-image:url("../img/banks.png"); height:36px; display:inline-block;width:150px; background-repeat:no-repeat;}
.ICBC{background-position:0 -900px;}
.ABC{background-position:0 0;}
.CCB{background-position:0 -254px;}
.BOCB2C{background-position:0 -72px;}
.CMB{background-position:0 -396px;}
.POSTGC{background-position:0 -1116px;}
.COMM-DEBIT{background-position:0 -468px;}
.GDB{background-position:0 -612px;}
.CMBC{background-position:0 -432px;}
.CITIC{background-position:0 -360px;}
.SPABANK{background-position:0 -1260px;}
.CEB-DEBIT{background-position:0 -288px;}
.SHBANK{background-position:0 -1220px;}
.SPDB{background-position:0 -1296px}
.BJBANK{background-position:0 -36px}
/** questionnaires style end **/

a.noline:hover{text-decoration: none;}
/* here you can put your own css to customize and override the theme */