body { 
  color: #666666; 
  font-family: "Microsoft YaHei","微软雅黑","宋体";
  padding: 0px !important;
  margin: 0px !important;
  font-size:14px; 
  direction: ltr;
}
h1,h2,h3,h4,h5,h6{font-family: "Microsoft YaHei","微软雅黑","宋体";}
a{color: #666666; text-decoration: none;}
a:hover{color: #666666; }
.m-l-0{margin-left: 0px;}
.m-l-15{margin-left: 15px;}
.m-r-0{margin-right: 0px;}
.m-r-10{margin-right: 10px;}
.m-r-15{margin-right: 15px;}
.m-r-20{margin-right: 20px;}
.m-r-30{margin-right: 30px;}
.m-t-5{margin-top: 5px;}
.m-t-10{margin-top: 10px;}
.m-t-20{margin-top: 20px;}
.m-b-5{margin-bottom: 5px;}
.m-b-8{margin-bottom: 8px;}
.m-b-10{margin-bottom: 10px;}
.m-b-15{margin-bottom: 15px;}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}
.p-10{padding: 10px;}
.p-15{padding: 15px;}
.p-l-0{padding-left: 0px;}
.p-l-10{padding-left: 10px;}
.p-l-25{padding-left: 25px;}
.p-l-30{padding-left: 30px;}
.p-r-0{padding-right: 0px;}
.p-t-5{padding-top: 5px;}
.p-t-6{padding-top: 6px;}
.p-b-5{padding-bottom: 5px;}
.p-t-10{padding-top: 10px;}
.p-b-5{padding-bottom: 5px;}
.p-b-10{padding-bottom: 10px;}
.col-no-padding{padding-left: 0px; padding-right: 0px;}
.col-p-10{padding-left: 10px;padding-right: 10px;}
.o-h{overflow: hidden;}
.relative{position: relative;}
.absolute{position: absolute;}
.c-6{color: #666666;}
.c-9{color: #999999;}
.black{color: #000000;}
.f-14{font-size: 14px;}
.f-12{font-size: 12px;}
.h-30{height: 30px; line-height: 30px;}
.h-35{height: 35px; line-height: 35px;}
.word-break{word-break:break-all; word-wrap:break-word;}
#top{height:30px;line-height:30px; width:100%; background-color: #eeeeee; }
#top span{margin-left: 28px; font-size: 12px;}
#header{padding:15px 0 10px;}
.btn-cart{background-color: #FF6711;color:#FFFFFF;font-size: 16px;padding: 9px 16px;}
#search{width:360px; border:3px solid #5FAC22; height:40px; line-height: 40px;font-size: 16px; padding: 6px 12px; color: #606060;} 
#search-form .input-group-addon{background-color:#5FAC22; border:3px solid #5FAC22; border-left:0px; font-size: 16px; padding:6px 10px;}
#search-form .input-group-addon i{color: #FFFFFF;}
.navbar{min-height: 40px;margin-bottom: 0px;}
#navbar{background-color: #5FAC22;}
#navbar a{color:#FFFFFF;font-size: 16px;padding-top: 10px;padding-bottom: 10px;}
#navbar a:hover,#navbar a:focus{background-color: #569E0C;}
#navbar .navbar-toggle{padding:4px 10px; margin-right: 0px;}
#navbar .navbar-toggle .icon-bar{background-color: #FFFFFF;}
#categorys{background-color: #569E0C;}
#categorys .navbar-brand{height: auto;}

#category{background-color: #FFFBE0; }
#category .item{padding: 8px 8px 9px 9px; border-bottom: 1px solid #F1EBCA; color:#AD6C3E; }
#category .item a{color:#AD6C3E;font-size: 13px; font-weight: 600}
#category .more{float: right; color:#AD6C3E;}

#userinfo{border:1px solid #EEEEEE;padding: 15px;}
#userinfo .username{line-height: 30px; height: 60px; margin-left: 15px;}
#info-detail{border-left: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE;}
#info-detail .info-items{border-right: 1px solid #EEEEEE;}
#info-detail .info-items .item{padding: 10px 0;}

.notice{border:1px solid #EEEEEE; height: 175px; overflow: hidden; color: #787878;}
.notice .nav-tabs a{padding: 5px 15px; color: #787878;}
.notice .tab-content{padding: 5px 15px 15px;}
.notice .tab-content ul{padding-left: 15px;}
.notice .tab-content li{line-height: 23px;}
#notice-tab li{width: 33.3%;}
.ad-top{width: 660px;}
.ad-top .ad-table{height:110px; color: #787878;}
.ad-top .title{color: #000000;}
.ad-top .ad-table td div{line-height: 23px;}

.b{border:1px solid #EEEEEE; }
.b-l{border-left:1px solid #EEEEEE;}
.b-r{border-right:1px solid #EEEEEE;}
.b-b{border-bottom:1px solid #EEEEEE;}
.sway{border:1px solid #EEEEEE; height:80px; line-height:80px; padding:0px; overflow:hidden; color:#CECECE;}
.sway .left {padding-left:6px; padding-right:6px; border-right:1px solid #EEEEEE; font-size:16px;} 
.sway .right {padding-left:6px; padding-right:6px; border-left:1px solid #EEEEEE; font-size:16px;}
.sway .list img{margin-right: 19px;}
.sway .list img.last{margin-right: 0px;}

.jingxuan .title{color: #009944; margin-right: 20px; font-weight: bold;}
.jingxuan .subtitle{font-size: 16px; }
.jingxuan .item{height: 190px; overflow: hidden; position: relative;}
.jingxuan .item img{position: absolute; top: 0; left: 0;}
.jingxuan .item .aside{height: 190px; padding: 30px 20px 0 20px; position: absolute; top: 0px; left: 0px; z-index: 1;}
.jingxuan .item.w-bg .aside{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);}
.jingxuan .item .s-link{background: url('../img/blank.gif') repeat scroll 0 0; height: 100%; width: 100%; left: 0; top: 0; position: absolute; z-index: 2;}
.jingxuan .item h4{font-size: 18px; height: 20px; line-height: 20px; margin-bottom: 5px; overflow: hidden; color: #333333; font-weight: 700;}
.jingxuan .item .s-name{color: rgb(102, 102, 102); font-size: 13px; height: 20px; line-height: 20px; overflow: hidden;}
.jingxuan .item .s-ext{height: 18px; line-height: 18px; margin-top: 2px; overflow: hidden;}
.jingxuan .item.w-bg .s-ext{margin-top: 0px;}
.jingxuan .item .s-ext b{background-color: rgb(228, 57, 60); color: #FFFFFF; display: inline-block; font-size: 12px; font-weight: 400; padding: 0 2px;}
.jingxuan .item.w-bg .s-ext b{background-color: rgba(0, 0, 0, 0); color: rgb(234, 99, 101); padding:0px;}
.jingxuan .item .s-hotword{padding: 20px 0 0;}
.jingxuan .item .s-hotword li{color: rgb(136, 136, 136); height: 18px; line-height: 18px; overflow: hidden; padding-left: 6px; position: relative;}
.jingxuan .item .s-hotword li i{background: none repeat scroll 0 0 rgb(153, 153, 153); display: block; height: 2px; left: 0px; overflow: hidden; position: absolute; top: 8px; width: 2px; vertical-align: middle;}
.jingxuan .item.tuangou .s-ext{display: none;}
.jingxuan .item.tuangou .s-tuangou{background: url("../img/index.tuangou.png") no-repeat scroll 0 33px rgba(0, 0, 0, 0); display: block; height: 65px; margin-top: 20px; width: 120px;}
.jingxuan .item.tuangou .s-tuangou .t{color: rgb(153, 153, 153); margin-right: 5px; vertical-align: baseline; font-size: 12px; margin-bottom: 10px;}
.jingxuan .item.tuangou .s-tuangou .price{color: rgb(228, 57, 60); font-size: 22px; font-weight: 600; vertical-align: baseline;}

#f1,#f2,#f3{border-bottom: 1px solid #DCDCDC;margin-bottom: 20px;}
#f1 .floor-sign{font-size: 18px; font-weight: 700; background-color: #E0402A; color: #FFFFFF; margin-right: 10px;}
#f1 .floor-name{color: #E0402A; font-weight: bold; font-size: 24px;}
#f1 #title, #f2 #title, #f3 #title{ border-bottom: 2px solid #BBBBBB;}
#f1 #left{border-right: 1px solid rgb(221, 221, 221); height: 361px;}
#f1 #left ul{position: absolute;left: 0; top: 0px; padding: 5px; z-index: 2;}
#f1 #left ul li{height: 25px; line-height: 25px; overflow: hidden; vertical-align: bottom;}
#f1 #left span{position: absolute; right: 0; top: 0; line-height: 0; z-index: 1;}
#f1 #list-tab,#f2 #list-tab,#f3 #list-tab{margin-bottom: 0px; }
#f1 #list-tab li,#f2 #list-tab li,#f3 #list-tab li{width: 20%; margin: 0px;}
#f1 #list-tab li a,#f2 #list-tab li a,#f3 #list-tab li a{font-size: 14px; font-weight: 700; color: #000000;}
#f1 #list-tab.nav-pills > li > a:hover, 
#f1 #list-tab.nav-pills > li > a:focus,
#f1 #list-tab.nav-pills > li.active > a, 
#f1 #list-tab.nav-pills > li.active > a:hover, 
#f1 #list-tab.nav-pills > li.active > a:focus{
    background-color: #FFFFFF; color: #E0402A;
}

#f1 #list .item,
#f2 #list .item,
#f3 #list .item{
    padding: 10px; width: 20%; border-top: 1px solid #F1F1F1; border-right: 1px solid  #F1F1F1; text-align: center; height: 180px;
}
#f1 #list .item .img,
#f2 #list .item .img,
#f3 #list .item .img{margin-bottom: 5px;}
#f1 #list .item .name,
#f2 #list .item .name,
#f3 #list .item .name{
    text-align:left;height: 3em;  word-break:break-all; word-wrap:break-word; overflow: hidden;
}
#f1 #list .item .price,
#f2 #list .item .price,
#f3 #list .item .price{
    color: #E4393C; font-size: 15px; overflow: hidden;
}
#f1 #list .item .price span,
#f2 #list .item .price span,
#f3 #list .item .price span{
    font-size: 12px;
}
#f1 #right,#f2 #right,#f3 #right{overflow: hidden;text-align: right;}

#f2 .floor-sign{font-size: 18px; font-weight: 700; background-color: #0068B7; color: #FFFFFF; margin-right: 10px;}
#f2 .floor-name{color: #0068B7; font-weight: bold; font-size: 24px;}
#f2 #left,#f3 #left{padding-top: 5px;border-right: 1px solid rgb(221, 221, 221); height: 361px; position: relative;}
#f2 #left .el,#f3 #left .el{margin-top: 10px;}
#f2 #left .bottom,#f3 #left .bottom{position: absolute; bottom: 0px;}
#f2 #list-tab.nav-pills > li > a:hover, 
#f2 #list-tab.nav-pills > li > a:focus,
#f2 #list-tab.nav-pills > li.active > a, 
#f2 #list-tab.nav-pills > li.active > a:hover, 
#f2 #list-tab.nav-pills > li.active > a:focus{
    background-color: #FFFFFF; color: #0068B7;
}

#f3 .floor-sign{font-size: 18px; font-weight: 700; background-color: #22AC38; color: #FFFFFF; margin-right: 10px;}
#f3 .floor-name{color: #22AC38; font-weight: bold; font-size: 24px;}
#f3 #list-tab.nav-pills > li > a:hover, 
#f3 #list-tab.nav-pills > li > a:focus,
#f3 #list-tab.nav-pills > li.active > a, 
#f3 #list-tab.nav-pills > li.active > a:hover, 
#f3 #list-tab.nav-pills > li.active > a:focus{
    background-color: #FFFFFF; color: #22AC38;
}

#footer{font-size: 12px;}
#footer .service{ padding: 20px 0; border-bottom: 1px solid #dddddd; margin-bottom: 20px;}
#footer .item{border-right:1px solid #dddddd; height: 150px;}
#footer .guanzhubtn{width:100%;background-color: #ff4741; padding: 10px 40px; font-size: 18px; color: #FFFFFF;border-radius:4px;}
#footer .guanzhubtn span.icon{width: 27px;height: 25px;background: url('../img/weibo-icon.png') no-repeat;display: inline-block;border-radius:4px !important; margin-right: 5px;}
#footer .kefu-num{font-style: italic; font-size: 24px; font-weight: 700; color: #333333;}
#footer .kefu{color: rgb(102, 102, 102);}
#footer .dingyue{background-color: #A7A7A7; color: #FFFFFF;}
#footer .about{color: rgb(102, 102, 102); }
#footer .about a{margin: 0 5px;}
#footer .cr{color: #787878; }
#footer .fb a{margin:0 5px;}
#footer .fb a img{display: inline-block;}

.top-bar{background-color:#FFFFFF; font-size: 14px; color: #787878; padding: 15px; margin-bottom: 0px;}
.top-bar > li + li:before {
  content: ">";
}
.order-line{background-color: #FAFAFA; border:1px solid #EEEEEE; font-size: 12px; line-height: 25px;}
.order-line-title{}
.order-item{background-color: #F1F1F1; border: 1px solid #EAEAEA; padding:0px 10px; display: inline-block;}

.order-page{margin-right: 30px; padding: 2px 0px; display: inline-block;}
.order-page-btn button{padding-top: 2px; padding-bottom: 2px; font-size: 12px;}
.order-page-current{color: rgb(228, 57, 60);}

.p-thumb{padding: 10px 30px; }
.p-thumb .title{font-size: 14px;}
.p-thumb .price{color: rgb(228, 57, 60); font-family: verdana; font-weight: 700;}
.p-thumb .input{position: relative; width: 50px;}
.p-thumb .plus,.p-thumb .minus{position: absolute; padding: 0px 3px; width: 15px; height: 12px; font-size: 11px; line-height: 11px;}
.p-thumb .plus:hover,.p-thumb .minus:hover{background-color: #FB9B23; border-color: #FB9B23; color: #FFFFFF;}
.p-thumb .plus{top: 0px; right: 0px;}
.p-thumb .minus{bottom:0px; right: 0px; font-size: 16px; }
.p-thumb .form-control{width: 32px; height: 25px; font-size: 12px; padding: 3px;font-family: verdana; text-align: center;}
.p-thumb .ship-btn button{padding: 3px 5px; margin-left: 5px; font-size: 12px;}
.p-thumb .ship-btn button:hover{background-color: #60AC22; color: #FFFFFF; border-color: #60AC22;}

.guess-like{background-color: #999999; padding: 8px 15px; color: #FFFFFF; font-size: 15px;}

.c-top10{padding: 10px 10px 0;}
.c-top10 li{margin-bottom: 10px;}
.c-top10 .img{width: 50px; height: 50px; border: 1px solid #E8E8E8; overflow: hidden; margin-right: 10px; }
.c-top10 .name{margin-left: 60px; font-size: 13px;}
.c-top10 .price{color: #E23E22; font-weight: 700;}

/* product info */
.pinfo-top-left{background-color: #F9F9F9; padding: 20px; overflow: hidden;}
.pinfo-top-left .row{margin-left: 0px; margin-right: 0px;}
.pinfo-top-left .img{padding-left: 0px; padding-right: 0px; overflow: hidden; background-color: #FFFFFF; text-align: center;}
.pinfo-top-left .title{color: #000000; font-size: 20px; margin-top: 5px; font-weight: 700; margin-bottom: 20px;}
.pinfo-top-left .price{color: #FFFFFF; }
.pinfo-top-left .price .t{background-color: #E84D21; padding: 10px;height: 90px;}
.pinfo-top-left .price .p{ background-color: #EF5A30; padding: 10px;height: 90px;}
.pinfo-top-left .price .p .org{ font-size: 24px; font-weight: 700; margin-right: 5px;}
.pinfo-top-left .price .p .des{ color: #EF5A30; background-color: #FFFFFF; padding: 0 5px; border-radius:5px; font-weight: 600;}
.pinfo-top-left .price .p .last{ font-size: 16px; font-weight: 700;}
.pinfo-top-left .ship-info{background-color: #DDDDDD; padding: 5px 10px; color: #343434;}
.pinfo-top-left .info{background-color: #FFFFFF; padding: 10px; color: #787878;}
.pinfo-top-left .pinfo{position: relative; width: 90px;}
.pinfo .form-control {
    font-family: verdana;
    font-size: 12px;
    height: 35px;
    padding: 6px;
    text-align: left;
    width: 70px;
    font-weight: 700;
}
.pinfo .plus,.pinfo .minus{position: absolute; padding: 0px 3px; width: 16px; height: 17px; font-size: 11px; line-height: 11px;}
.pinfo .plus:hover,.pinfo .minus:hover{background-color: #FB9B23; border-color: #FB9B23; color: #FFFFFF;}
.pinfo .plus{top: 0px; right: 0px;}
.pinfo .minus{bottom:0px; right: 0px; font-size: 16px; }
.pinfo-top-left .btn-buy{background-color: #FF9422; font-size: 16px; border-radius:3px !important;border-radius:3px; }
.pinfo-top-left .btn-shopcart{background-color: #5FAC22; font-size: 16px; border-radius:3px !important;border-radius:3px; }
.pinfo-top-right{background-color: #EEEEEE;} 
.pinfo-s{display: inline-block; border: 1px solid #F6F6F6; width: 60px; height: 60px; padding: 5px;}
.pinfo-s.active{
  -moz-box-shadow:inset 0px 0px 5px 2px #c5c5c5 ;            
  -webkit-box-shadow:inset 0px 0px 5px 2px #c5c5c5 ;         
  box-shadow:inset 0px 0px 5px 2px #c5c5c5 ; 
}
.promise{color: #323232;}
.f-green{color: #8FC31F;}
.f-red{color: #EF5A30;}
.f-blue{color: #30A8F1;}